---
---

@import "minima";

/* Remove excessive table margin */
table {
  margin-bottom: $spacing-unit / 2;
}

/* Features list */
.features-list {
  list-style-type: none;
  margin-left: $spacing-unit / 2;
  line-height: $base-line-height * 1.5;
}

// number of columns depends on screen width
@media screen and (min-width: $on-laptop / 2) {
  .features-list {
    column-count: 2;
  }
}

@media screen and (min-width: $on-palm) {
  .features-list {
    column-count: 3;
  }
}

/* Google map */
#google-map {
  height: 400px;
  margin-bottom: $spacing-unit / 2;
}

/* Contact form */
form[name="contact"] {
  margin-top: $spacing-unit;
  background: lighten($grey-color-light, 3%);
  padding: $spacing-unit / 2;
  input,
  button {
    box-sizing: border-box;
    display: block;
    width: 100%;
    font-size: $base-font-size;
    padding: 10px;
    border-radius: 5px;
  }
  input {
    border: 1px solid darken($grey-color-light, 10%);
    margin-bottom: $spacing-unit / 1.5;
  }
  button {
    margin-top: $spacing-unit;
    cursor: pointer;
    color: #fff;
    background: $brand-color;
    border: 1px solid $brand-color;
  }
}
